# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_

* List popular languages for Data Science
* List of popular libraries for Data Science
* Some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
         -
| Jupyter Notebook / JupyterLab |
| RStudio |
| Apache Zepelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
resultado = 200 / 60
print( str(resultado) +  ' horas')

3.3333333333333335 horas